@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
main,
.banner,
.navbar {
    max-width: 1240px;
    margin: 0 auto;
}

main>section {
    margin-top: 50px;
}

.display-flex {
    display: flex;
}

.dark-2 {
    color: rgba(66, 66, 66, 1);
}

.dark-3 {
    color: rgba(114, 114, 114, 1);
}

.orange {
    color: rgba(255, 144, 14, 1);
}

.primary-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

.button-primary {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 100px;
}

.details {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(114, 114, 114, 1);
}

/* nav-style */
.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.nav-item {
    list-style: none;
}

.nav-links {
    gap: 30px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
}

/* banner */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-details {
    font-weight: 400;
    font-size: 1rem;
}

.banner-image img {
    width: 100%;
    height: auto;
}

/* teams and feature section */
.teams-feature {
    align-items: center;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature-container {
    max-width: 400px;
    margin-left: 50px;
}

.feature-title {
    font-weight: 700;
    font-size: 2.5rem;
}

#quick-list {
    font-weight: 500;
}

/* experience section */
.experience-section {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.exp-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#exp-main-title {
    border-left: 5px solid #FF900E;
    padding-left: 18px;
}

.experience-div {
    padding: 15px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-top: 20px;
    border-radius: 8px;
}

#exp-button {
    padding: 45px 42px;
    margin-left: -60px;
    margin-top: -180px;
}

.year {
    font-size: 4rem;
    font-weight: 700;
}

.exp {
    font-size: 1.5rem;
    font-weight: 500;
}

.exp-image {
    max-width: 800px;
    width: 100%;
    height: auto;
}
.experience-section .image-part {
    margin-top: 40px;
}


/* card-section */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    border: 0.5px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-number {
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

.card-text {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 2px;
}

.fact-details {
    max-width: 540px;
    width: 100%;
    margin-bottom: 50px;
}

/* sponsors section */
.sponsors-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 60px;
    margin-bottom: 150px;
}

.rights-reserved {
    padding: 39px 300px;
    font-weight: 400;
    font-size: 1.25rem;
}

.fact-div {
    text-align: center;
    margin: 0 auto;
}

.sponsors-container img {
    filter: grayscale(100%);
}


/* responsive media query */
@media screen and (max-width:576px) {

    .navbar,
    .nav-links,
    .experience-section {
        flex-direction: column;
    }

    .team-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .teams-feature {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .feature-container {
        text-align: center;
        margin-left: 10px;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        /* ********* */
        justify-items: center;
    }

    .some-facts {
        text-align: center;
    }

    .sponsors-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
        justify-items: center;
    }

    .rights-reserved {
        padding: 0;
        text-align: center;
    }

    .experience-div {
        padding: 0px;
    }

    #exp-button {
        margin-top: 20px;
        margin-left: 35px;
        padding: 10px;
    }
}