@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared style */
.display-flex {
    display: flex;
}

.dark-2 {
    color: rgba(66, 66, 66, 1);
}

.dark-3 {
    color: rgba(114, 114, 114, 1);
}

.primary-bg {
    background-color: rgba(255, 144, 14, 0.1);
}

.button-primary {
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border: none;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 10px;
}
/* nav-style */
.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.nav-item {
    list-style: none;
}

.nav-links {
    gap: 30px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 700;
}

.banner,
.navbar {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-details {
    font-weight: 400;
    font-size: 1rem;
}

.banner-image img{
    width: 100%;
    height: auto;
}

/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}